<div class="section-panel">
	<h3>Sections</h3>
	<div class="section-panel-commands">
		<button type="button" (click)="template.add_section()">Add Section</button>
		<button type="button" (click)="toggleExpandSections()">Expand/Collapse All</button>
	</div>
	<ul dnd-sortable-container [sortableData]="template.sections">
		<li class='section' dnd-sortable *ngFor="let section of template.sections; let i = index" [sortableIndex]="i"
			(click)="toggleSection(section)">
			{{section.name}} - <button type="button" (click)="removeSection(section)">X</button>
		</li>
	</ul>
</div>
<div class="editor-main">
	<div class="document-info">
		<span>{{documentType}} Name: {{template.name}}</span><br/>
		<span>{{documentType}} Description: {{template.description}}</span>
		<div class="template-controls">
			<button>Edit</button>
			<button>Save</button>
		</div>
	</div>
	<div class="document-body">
		<div class="document-sections">
			<ul>
				<li *ngFor="let section of template.sections" class="section" [class.expanded]="section.expanded" dnd-droppable (onDropSuccess)="fieldDroppedOnSection(section, $event)" (onDragOver)="debounceDragOver(section, $event)" (onDragLeave)="debounceLeave(section, $event)">
					<fieldset>
						<legend>{{section.name}}</legend>
						<gridster [options]="gridsterOptions" draggableOptions="{handlerClass:'field-handle'}">
							<gridster-item *ngFor="let field of section.fields" [(x)]="field.x" [(y)]="field.y" [w]="field.width" [h]="field.height">
								<div class="field-wrapper">
									<div class="field-handle">Move</div>
									<field field="field"></field>
								</div>
							</gridster-item>
						</gridster>
					</fieldset>
				</li>
			</ul>
		</div>
	</div>
	<div class="draggable-elements">
		<div class="draggable-element" gridsterItemPrototype *ngFor="let field of sampleFields" [config]="{helper:true}" [w]="1" [h]="2" (enter)="debounceEnter()" (out)="debounceLeave()">
			<span>{{field.name}}</span>
		</div>
	</div>
</div>
<div class="popout-panel"></div>